.img-box {
    column-count: 4;
    column-gap: 3px;
    width: 80%;
    max-width: 1400px;
    margin: auto;
}
.image{
    max-width: 100%;
    display: block;
}

.image-wrapper{
    display: block;
    opacity: 0.8;
    transition: 0.4s;
    filter: blur(0.2px);
}

.image-wrapper + .image-wrapper {
    margin: 3px 0;
}
body{
 background: url(../images/фон3.jpg);  
}
.image-wrapper:hover{
    /*opacity: 1;*/
    filter: brightness(1.7);
}
